%h2.text-center.page-header
  Your account
%form.form-horizontal
  %h3 Email source connection information
  .control-group
    %label.control-label{:for => "inputServer"}
      Exchange server
    .controls
      %input{:type => "text", :id => "inputServer", :placeholder => "exchange.contoso.com"}
  .control-group
    %label.control-label{:for => "inputUsername"}
      Username
    .controls
      %input{:type => "text", :id => "inputUsername", :placeholder => "username"}
  .control-group
    %label.control-label{:for => "inputPassword"}
      Password
    .controls
      %input{:type => "password", :id => "inputPassword", :placeholder => "password"}
  .control-group
    .controls
      %input.btn{:type => "submit"} 
