:javascript
  YUI().use('node', function (Y) {
    Y.one('#getEmail').addClass('active');
  });
:css
  body {
    overflow: hidden;
  }
.row-fluid
  .span4
    %form#credsForm{}
      .control-group
        %label.control-label{:for => "inputServer", :id => "inputServerLabel"}
          Full Exchange URL
        .controls
          %input{:type => "text", :id => "inputServer", :name => "server", :placeholder => "https://exchange.contoso.com/ews/exchange.asmx", :value => "#{locals[:server]}"}
      .control-group
        %label.control-label{:for => "inputUsername"}
          Username
        .controls
          %input{:type => "text", :id => "inputUsername", :name => "username", :placeholder => "username", :value => "#{locals[:username]}"}
      .control-group
        %label.control-label{:for => "inputPassword"}
          Password
        .controls
          %input{:type => "password", :id => "inputPassword", :name => "password", :placeholder => "password"}
      .control-group
        .controls
          %input.btn{:id => "loadFoldersBtn", :type => "button", :value => "Load folders"} 
  .span8.yui3-skin-night
    #folderDataTable
    %br
    .control-group.text-center
      .controls
        %input.btn{:id => "submitBtn", :type => "submit", :value => "Archive these folders to SmartFile"} 
.modal.hide.fade#theModal
  .modal-header
    %h3 Just a moment...
  .modal-body
    .progress.progress-striped.active
      .bar{:style => "width: 100%;"}
    Your emails are making their way into SmartFile; we'll take you to see them when they're all there.
:javascript
  var dataUrl = "#{locals[:dataUrl]}";
%script{:src => "/js/selectFolders.js"}
%script{:src => "/js/build/gallery-datatable-checkbox-select/gallery-datatable-checkbox-select-min.js"}