%h3.text-center.page-header
  %img{:src => 'img/logo.png'}
  %br
  Simple email archival 
%p.lead
  Email archives are important (to some people). If you're one of those people, AllUrMailz just might be what you need.
%h3
  Why us?
%dl.dl-horizontal
  %dt Simplicity
  %dd Sign in, select folders, push a button. It's that simple.
  %dt Accessibility
  %dd Backed by the power of SmartFile, AllUrMailz is accessible anywhere there's internet; on your computer, on your mobile, etc...
  %dt Data portability
  %dd
    If you outgrow AllUrMailz and need something more, your archive stays in your SmartFile account so you can take it with you! What's more, your archive is stored in an open format (
    %a{:href => 'http://json.org'}JSON
    ) that other archive providers can read.
%h1
  Want to get started?
%p
  Sign in to your SmartFile account using the Sign In button at the top of the page.
