%h1 Subject
%table{:border => "0", :width => "80%"}
  %tr
    %td{} 
      %strong From:
      Email sender
  %tr
    %td 
      %strong Sent:
      Date sent
  %tr
    %td 
      %strong To:
      Email recipients

