!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title AllUrMailzAreBelongToUs
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "//netdna.bootstrapcdn.com/bootswatch/2.3.1/cyborg/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/allurmailz.css",:rel => "stylesheet"}/
    /%link{:href => "http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
    %script{:src => "http://code.jquery.com/jquery-1.9.1.js"}
    /%script{:src => "http://code.jquery.com/ui/1.10.2/jquery-ui.js"}
    %script{:src => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"}
    %script{:src => "http://yui.yahooapis.com/3.9.1/build/yui/yui-min.js"}
    :css
      body { 
        padding-top:60px;
        padding-bottom:40px;
      }
      @media (max-width: 980px) {
        body {
          padding-top: 0;
        }

  %body
    .navbar.navbar-inverse.navbar-fixed-top#navbar
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} 
            %img{:src => "/img/logo.png", :width => "140"}
          .nav-collapse.collapse
            %ul.nav
              - if session[:userinfo][:signedin]
                %li#getEmail
                  %a{:href => "/getEmail"} Archive emails
                %li#viewEmail
                  %a{:href => "/viewEmail"} View archived emails
                %li#viewTagCloud
                  %a{:href => "/viewTagCloud"} View email statistics
            .pull-right
              - if !session[:userinfo][:signedin]
                %a.btn.btn-primary{:href => "/request"}Sign in
              - else
                .btn-group
                  %a.btn.btn-primary.dropdown-toggle{:data => {:toggle => "dropdown"}}
                    %i.icon-user
                    &nbsp;
                    = session[:userinfo][:username]
                    %span.caret
                  %ul.dropdown-menu
                    -#%li
                    -#  %a{:href => '/settings'}
                    -#    %i.icon-wrench.icon-white
                    -#    &nbsp; Settings
                    -#%li.divider
                    %li
                      %a.danger{:href => '/signout'}
                        %i.icon-road.icon-white
                        &nbsp; Sign out
    .container
      = yield
