:javascript
  YUI().use('node', function (Y) {
    Y.one('#getEmail').addClass('active');
  });
%h2.text-center.page-header
  Select folders to archive into SmartFile
.yui3-skin-night
  #folderDataTable
%br
.control-group
  .controls
    %input.btn{:id => "submitBtn", :type => "submit"} 
:javascript
  var dataUrl = "#{locals[:dataUrl]}";
%script{:src => "/js/selectFolders.js"}