%h2.text-center.page-header
  Emails in #{locals[:currentFolder]}
.yui3-skin-night
  #emailListDataTable
:javascript
  var dataUrl = "#{locals[:dataUrl]}";
  var emailBaseUrl = "#{locals[:emailBaseUrl]}";
%script{:src => "/js/selectEmails.js"}