:css
  body {
    overflow: hidden;
  }
.yui3-skin-night
  .row-fluid#topRow
    .span4
      #accountList
      %br
      #folderList
    .span8
      #emailList
  .row-fluid#bottomRow
    .span12#message
      %iframe#messageFrame{:width => "100%", :height => "100%"}
%script{:src => "/js/viewArchive.js"}