.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top:10px;
    padding-bottom: 0;
}
#inputServer {
    width: 350px;
}
.form-horizontal {
    width: 300px;
}

.yui3-datatable table {
    width: 100%;
}

tr.hl td {
    background-color: #fff !important;
}

#messageFrame {
    border-style: none;
    background-color: #fff;
}
#message {
    padding: 10px;
}